# 不上传origin_DATA文件夹及所有的文件
tmp/:
test.py
.ipynb_checkpoints/
# python缓存文件
**/__pycache__
# 我也不知道是啥的文件
**/.DS_Store    
models/checkpoints/checkpoint/*.data-00001-of-00002
models/checkpoints/checkpoint/*.index

