<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>

{% if user.is_authenticated %}
用户已经登陆：
{{user}}
</br>   
{% endif %}

<h1>所有书籍：</h1>

<table border="1" >
    <tr>
        {% for book_header in bookmarks %}
        <th>{{book_header}}</th>
        {% endfor %}
    </tr>
{% for i in bookmarks.values %}
    <tr>
    {% for j in i %}
        <td>{{j}}</td>
    {% endfor %}
    </tr>
{% endfor %}
    </tr>
</table>


</br>

{% comment %} {{bookmarks}}
</br>
{% for novel in novels %}
{{novel.title}}-{{novel.genre}}</br>
{% endfor %} {% endcomment %}

</body>
</html>